Flask
Flask-Session
MarkupSafe
jinja2
bcrypt
tldextract
better-profanity
feedgen
SQLAlchemy
random-word
PyYaml
treelib
requests
APScheduler
urllib3
waitress
wheel
fuzzywuzzy
werkzeug
python-Levenshtein
spotipy