{% extends 'base.html' %}

{% block header %}<h1>{% block title %}{{ site_name }}{% endblock %}</h1>{% endblock %}

{% block content %}
<div class="divider"></div>
{% if session['logged_in'] %}
<div style="margin-bottom:10px;"><strong>Recent Songs</strong></div>
{% if request.args.get('error') == 'permission' %}
<div style="margin:10px 0 10px 0">
    <span class="label label-error">You do not have permission to do that!</span>
</div>
{% endif %}
{% include 'songs.html' %}
{% else %}
{% include 'guest.html' %}
{% endif %}
{% endblock %}
{% block pagenav %}
{% if session['logged_in'] %}
<div class="text-right">
    <a class="btn btn-link {% if page.page == 1 %}disabled{% endif %}"
       href="{{ url_for('route.index', p=page.prev_num) }}" style="margin-top:-10px">
        <i class="bi-chevron-double-left" style="font-size: 1.5em"></i>
    </a>
    <span class="text-gray" style="font-size:1.25em">{{ page.page }} / {{ page.pages }}</span>
    <a class="btn btn-link {% if page.page == page.pages %}disabled{% endif %}"
       href="{{ url_for('route.index', p=page.next_num) }}" style="margin-top:-10px">
        <i class="bi-chevron-double-right" style="font-size: 1.5em"></i>
    </a>
</div>
{% endif %}
{% endblock %}